.countriesContainer {
  margin-top: 1.5em;
  margin-left: 1.5em;
}

.countriesTableTitle {
  margin-bottom: 15px;
  font-weight: bold;
  font-weight: 900;
}

.countriesTable {
  border-collapse: collapse;
}

.countriesTableHead {
  border: none;
  background-color: #dddddd;
  padding: 8px;
  text-align: left;
  font-weight: 700;
  font-weight: bold;
}

.countriesTableCell {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  font-weight: 400;
}

.countriesLanguagesCell {
  padding: 8px 0px 8px 0px;
}
